<p id="notice"><%= notice %></p>

<h1>Listing So Products</h1>

<table>
  <thead>
    <tr>
      <th>Institution</th>
      <th>Product</th>
      <th>Contract</th>
      <th>Date</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @so_products.each do |so_product| %>
      <tr>
        <td><%= so_product.institution %></td>
        <td><%= so_product.product %></td>
        <td><%= so_product.contract %></td>
        <td><%= so_product.date %></td>
        <td><%= so_product.count %></td>
        <td><%= link_to 'Show', so_product %></td>
        <td><%= link_to 'Edit', edit_so_product_path(so_product) %></td>
        <td><%= link_to 'Destroy', so_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New So product', new_so_product_path %>
