<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @contract.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @contract.date %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
