<p id="notice"><%= notice %></p>

<h1>Listing Supplier Orders</h1>

<table>
  <thead>
    <tr>
      <th>Branch</th>
      <th>Suppliers</th>
      <th>Number</th>
      <th>Date</th>
      <th>Date st</th>
      <th>Date fn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplier_orders.each do |supplier_order| %>
      <tr>
        <td><%= supplier_order.branch %></td>
        <td><%= supplier_order.suppliers %></td>
        <td><%= supplier_order.number %></td>
        <td><%= supplier_order.date %></td>
        <td><%= supplier_order.date_st %></td>
        <td><%= supplier_order.date_fn %></td>
        <td><%= link_to 'Show', supplier_order %></td>
        <td><%= link_to 'Edit', edit_supplier_order_path(supplier_order) %></td>
        <td><%= link_to 'Destroy', supplier_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier order', new_supplier_order_path %>
