<% if @receipts.exists? then %>

  <table class="table-view" data-toggle="table" >
    <thead>
    <tr>
      <th>№ договора</th>
      <th>№ накладної</th>
      <th>Дата відпр.</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @receipts.each do |receipt| %>
        <tr>
          <td class='contract'><%= receipt.contract.number if defined?(receipt.contract.number) %></td>
          <td class='invoice'><%= receipt.invoice_number %></td>
          <td class='date-sa <%= 'date-sa-blank' if receipt.date_sa.blank? %>'><%=  receipt.date_sa.strftime('%d.%m.%Y') unless receipt.date_sa.blank? %></td>
          <% if receipt.date_sa.blank? then %>
            <td class='btn-edit'><%= link_to '', products_receipts_path(receipt_id: receipt.id) %></td>
            <td class='btn-del'><%= link_to '', receipt, method: :delete, data: { confirm: 'Підтверджуєте видалення?' }%></td>
          <% else %>
            <td colspan="2" class='btn-view'><%= link_to '', products_receipts_path(receipt_id: receipt.id) %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

<% else %>
  <div class="alert-not-find"><%= 'По вибраному замовленню надходжень немає!' %></div>
<% end %>